{% extends 'base.html' %}
{% block title %} Search Emojis  {% endblock %}
{% block body %}
<div class="output"> 
   <form action="/search/" method="POST" id="random_form">
      <div class="search">
          <label>Search Emojis</label><br><br>
        <input type="text" placeholder="Search Query" name="search" id="search" onkeyup="results()">
      </div>
      <div class="matched">
          <label>List of matched Emojis</label>
          <br>
          <p id="list">
            
          </p>
      </div>
   </form>
</div>


<script>
   function results(){
      var search = document.getElementById("search").value;
      list={{ data|safe }}
      console.log(search);
      var count=0;
      document.getElementById("list").innerHTML="";
      for(var i=0;i<list.length;i++){
         if(list[i][0].includes(search)){
            count++;
            document.getElementById("list").innerHTML+=list[i][1];
         }
      }
      if(count==0){
         document.getElementById("list").innerHTML="No Emojis Found";
      }
   }
</script>



{% endblock %}